.success-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #fff; /* Light blue background */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 428px;
  height: 196px;
}

.text-container {
  margin-bottom: 20px;
}

.first-text {
  font-size: 36px;
  color: #151515;
  font-weight: 500;
  text-align: left;
  line-height: 1.5;
}

.second-text {
  font-size: 16px;
  color: #151515; /* Dark gray color for text */
  margin: 5px 0;
  text-align: left;
}

.success-button {
  background-color: #28a745; /* Green color for success */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.success-button:hover {
  background-color: #218838; /* Darker green when hovered */
}

.success-button:focus {
  outline: none;
}

.success-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 428px;
  height: 196px;
  z-index: 1010; /* Higher than modal-overlay */
}
